
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

<body>
    <nav style="background: #007DC3;">
        <div class="nav-wrapper">
          <a href="{% url 'analyze:home' %}" class="brand-logo red-text"><img src="{% static 'images/logo.png' %}" alt="Logo" width="400"></a>   
            <ul class="hide-on-med-and-down right">               
                <li>    
                   <div class="center row">
                      <div class="col s12 " >
                        <div class="row" id="topbarsearch">
                          <form action="{% url 'analyze:home' %}" method="get" enctype="multipart/form-data">
                          <div class="input-field col s6 s12 white-text">
                            <i class="white-text material-icons prefix">search</i>
                            <input type="text" placeholder="search" name="query" id="autocomplete-input" class="autocomplete white-text" >
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>          
                  </li>              
                  {% if request.user.is_authenticated %}  
                <li><a href="{% url 'analyze:myfiles' %}" class="white-text">My Files</a></li>
                <li><a href="{% url 'analyze:upload' %}" class="white-text">Upload File</a></li>
                <li><a href="{% url 'accounts:logout' %}" class="white-text">Logout</a></li>

                {% else %}
                <li><a href="{% url 'accounts:login' %}" class="white-text">Login</a></li>
                {% endif %}

                {% if request.user.is_superuser %}
                  <li><a href="{% url 'analyze:superuser_den' %}" class="white-text">Superuser's Den</a></li>
                  <li><a href="{% url 'analyze:comparelist' %}" class="white-text">Compare List</a></li>
                  <li><a href="{% url 'analyze:review_list' %}" class="white-text">Review List</a></li>
                {% endif %}
            </ul>
        </div>
      </nav> 
 
    {% block content %}

    {% endblock %}
      <!--JavaScript at end of body for optimized loading-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
      
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('select');
          var instances = M.FormSelect.init(elems, options);
        });
      </script>
    </body>
</html>