{% extends 'analyze/base.html' %}

{% block title %}
Compare Result
{% endblock %}

{% block content %}
<br><br>
<div class="row">
        <div class="col m6" style="background: rgb(63, 209, 87);">
<h5>File 1 Reports</h5>
<p><i>The below result shows what was changed or deleted from File 2.</i></p>

            <div class="card">
                <div class="card-stacked">
                    <div class="card-content">
                      <ul class="collection">

                        {% for r in repl1 %}
                        {% if r in repl2 %}
                            {% else %}
                            <li class="collection-item"><strong>{{ r }}</strong></li>
                        {% endif %}
                    {% endfor %}
                      </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col m6" style="background: rgb(63, 209, 87);">
<h5>File 2 Reports</h5>
<p>Updated from File 1</p>
            <div class="card">
                <div class="card-stacked">
                    <div class="card-content">
                      <ul class="collection">

                        {% for r in repl2 %}
                        {% if r in repl1 %}
                            {% else %}
                            <li class="collection-item">{{ r }}</li>
                        {% endif %}
                    {% endfor %}
                      </ul>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}