{% extends 'analyze/base.html' %}

{% load staticfiles %}
{% block content %}

<div class="container">
    <h5>Files Under Review</h5>
    <ul class="collection">
        {% if allrevs.fileInstance.all %}
        {% for f in allrevs.fileInstance.all %}
            <li class="collection-item avatar">
              <img src="{% static 'images/xlsx.png' %}" alt="Excel" class="circle">
              <span class="title">{{ f.name }}</span>
              <p>{{ f.efile.size|filesizeformat }}<br>
                 <a href="{% url 'analyze:filedetails' f.slug %}">View</a><br>
                 {% if request.user == f.user or request.user.is_superuser %}
                    <a href="{% url 'analyze:delete_file' f.slug %}"><i class="material-icons">delete</i></a>
                    <a href="{% url 'analyze:edit_file' f.slug %}"><i class="material-icons">edit</i></a><br>
                  {% endif %}
                 <span>Uploaded By <a href="{% url 'accounts:profile' f.user %}">{{ f.user }}</a> on {{ f.uploaded_on }}</span>

                 <a href="{% url 'analyze:remove_from_review' f.slug %}">Remove From List</a>
               
              </p>
              <a href="{% url 'analyze:download' f.efile.path %}" class="secondary-content"><i class="material-icons">file_download</i></a>
            </li>
            {% endfor %}
            {% else %}
            <i>There are currently no files under review.</i>
            {% endif %}
          </ul>
</div>

{% endblock %}